<article class="ui text container">
    <h1 class="ui center aligned header">$title$</h1>
    <p>
        $if(image)$
        $if(image_source)$
        <a class="ui fuild image" href="$image_source$"><img src="$image$"></a>
        $else$
        <img class="ui fluid image" src="$image$">
        $endif$
        $endif$
    </p>
        $body$
    $if(quotes)$<p>
        <h1>Quotes</h1>
            $for(quotes)$
            <p>
            $body$ ~<a href="/about.html">$book$</a> p.$page$
            </p>
            $endfor$
    </p>$endif$
</article>
